body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #0063cc; 
  padding: 11px 20px; 
  text-align: center; 
}

.logo-text {
  font-size: 24px; 
  color: white; 
  font-weight: bold; 
  font-family: 'Arial', sans-serif; 
}

.info-boxes {
  margin-bottom: 60px; 
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  padding: 20px;
}

.car {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  width: 30%;
  display: none; 
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.car img {
  width: 100%;
  height: auto;
}

select {
  width: 200px;
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.info-boxes {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 20px; 
}

.info {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px; 
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  text-align: center; 
}

@media (max-width: 768px) {
  .info-boxes {
      flex-direction: column;
      align-items: center;
  }

  .info {
      width: 80%; 
      margin-bottom: 20px; 
  }
}